<footer class="py-3 bg-secondary">
    <h3 class="text-white text-center">Me siga nas redes sociais:</h3>
    <div class="d-flex justify-content-center">
        <div class="card profile-card" style="width: 18rem;">
            <img src="../../assets/img/profile-picture.jpg" class="card-img-top br-top" alt="...">
            <h5 class="card-footer">Fernando Sabalete</h5>
            <div class="effect"></div>
            <div class="social w-30">
                <div class="linkedin d-flex my-4">
                    <a href="https://www.linkedin.com/in/fernando-sabalete" class="social-link">
                        <img src="../../assets/img/linkedin.png" class="social-logo transition-delay-0s" alt="">
                    </a>
                </div>
                <div class="github d-flex my-4">
                    <a href="https://github.com/fbsabalete" class="social-link">
                        <img src="../../assets/img/github-white.png" class="social-logo transition-delay-05s" alt="">
                    </a>
                </div>
                <div class="instagram d-flex my-4">
                    <a href="" class="social-link">
                        <img src="../../assets/img/instagram.png" class="social-logo transition-delay-1s" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>