<div class="container-fluid">
   <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
         <div class="row d-flex justify-content-center w-100">
            <div class="col-md-6">
               <h1 class="text-center">Entrar</h1>
               <div class="form-group">
                  <label for="nome">Digite seu usuário</label>
                  <input class="form-control" type="text" name="nome" id="nome">
               </div>
               <div class="form-group">
                  <label for="senha">Digite seu senha</label>
                  <input class="form-control" type="password" name="senha" id="senha">
               </div>
               <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success">Entrar</button>
               </div>

               <hr class="my-3">

               <p class="text-center">Não tem uma conta? <a href="">Cadatre-se</a></p>
            </div>
         </div>
      </div>
      <div class="col-md-6" id="img-bg"></div>
   </div>
</div>
