#img-bg{
  background-image: url('../../assets/img/black-and-white-business-code-coding.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
}
